
.my-app {
}

.my-raw {
  display:none;
}

.myglobal-page-actions,
.myglobal-page-footer {
  display:none;
}

.my-todo-note,
.my-top-return {
  display:block;
  width:100%;
  height:100%;
  background-image:url('../pics/arrow_l.png');
  background-size:24px 24px;
  background-repeat:no-repeat;
  background-position:7px 7px;
}

.my-todo-note:active,
.my-todo-note {
  background-image:url('../pics/compose.png');
}

.my-navdrawer-mask {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:#def;
}

.my-navdrawer {
  position:relative;
}

.my-version {
  text-align:right;
  padding-right:10px;
}

.my-todo-list .ck-link-mask {
  -webkit-touch-callout: none;
}
